.about-us {

  .text-button {
    padding-top: 50px;
  }

  &__header {
    padding: 80px 0;
    display: flex;
    align-items: flex-end;
  }

  &__content {
    .row {
      &:first-child {
        padding-top: 80px;
      }
      &:nth-child(2) {
        align-items: center;
        font-weight: 400;
      }
      &:nth-child(3) {
        align-items: flex-end;
      }
    }
  }

  &__title {
    font-size: 35px;
    line-height: 125%;
    color: #151515;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 24px;
    color: #151515;

    @include media-breakpoint-down(sm) {
      margin-bottom: 50px;
    }

  }

  &__separator {
    display: flex;
    align-items: center;
  }

  &__text {
    font-size: 25px;
    line-height: 31.25px;
    color: #8A8A8A;
    font-weight: 500;

    span {
      color: #151515;
    }
  }
}

#about-us {
  scroll-behavior: smooth;
}

.about-us-section {
  background: linear-gradient(180deg, #F4C3CC 0%, #FFCFBE 100%);

  .container .row {
    padding: 80px 0;
    align-items: center;
  }

  color: #151515;

  &__title {
    font-size: 35px;
    margin-bottom: 40px;
  }
  &__text {
    font-size: 25px;
    color: #4F4341;
  }
}