.explore {

  &-txt {
    margin-top: 150px;
    width: 50%;
    font-family: "Helvetica Now Display";
    font-size: 16px;
    line-height: 125%;
    color: grey;

    span {
      color: black;
    }
  }
}