.hero {

  &-title {
    font-family: $font;
    width: 70%;
    margin: 130px 0;
    font-size: 45px;
    color: black;
    font-weight: 500;
  }
  &-scroller{
    font-family: $font;
    color: black;
    font-weight: 500;
    &:hover{
      color: black;
    }
  }
}