.newsletter-form {
  margin-top: 100px;
  padding: 100px;
  background: linear-gradient(90deg, #C0ADE7 19.68%, #B9D9EB 85.63%);
  backdrop-filter: blur(55px);
  border-radius: 20px;

  @include media-breakpoint-down(md) {
    margin-top: 50px;

  }

  &__header {
    text-align: center;
  }

  &__title {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #151515;
    margin: 40px 0;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__row {
    display: flex;

    input:not(:first-child) {
      margin-left: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: block;

      input:not(:first-child) {
        margin-left: 0;
      }
    }
  }

  .mc4wp-form-fields input {
    width: 100%;
    background: transparent;
    padding-bottom: 7px;
    color: #151515;
    border: none;
    border-bottom: 1px solid #969696;
    margin-bottom: 50px;

    &:invalid {
      outline: none;
    }
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  .mc4wp-form-fields input[type="submit"] {
    width: auto;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 75px;
    background: #000;
    font-size: 15px;
    color: #fff;
    margin-bottom: 0;
    margin-left: 30px;

    &:invalid {
      outline: none;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 30px;
      margin-left: 0;
    }
  }
}