.recette-preview {
  margin-bottom: 80px;

  &__header {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }

  &__thumbnail {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
  }

  &__title {
    margin: 15px 0;
  }

  &__text {
    color: #8A8A8A;
    font-size: 16px;
  }

  &__excerpt {
    overflow: hidden;
  }
}

.archive-recette h1 {
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 30px;
  border-bottom: 1px solid #BFBFBF;
}