.tag {
  display: inline-block;
  font-size: 14px;
  color: #000;
  background: #ffcfbe;
  padding: 7px 12px;
  border-radius: 15px;

  &-big {
    font-size: 17px;
    padding: 10px 20px;
  }

  :hover {
    color: #000;
    text-decoration: none;
  }
}